body {
    background-color: rgb(179, 253, 204);
}

h1 {
    text-align: center;
    color: rgb(121, 177, 48);
    font-size: 3rem;
}

#canvas {
    display: block;
    margin: auto;
    border: 5px solid rgb(157, 188, 117);
    
}

.garden {
    display: block;
    margin: auto;
    width:fit-content;
    margin-top: 2rem;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}