body {
    background-color: #eee;
}

#canvas {
    border: 5px solid rgb(157, 188, 117);
    
}

.garden {
    width: fit-content;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}